@import '../../../sass/variables';
@import '../../../sass/mixins';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
.eventCardContainer {
  position: relative;
  display: flex;
  gap: 2rem;
  padding: 2rem 3rem;
  border-radius: 0.55rem;
  // color: black;
  // background: $bg-color;
  // box-shadow:  6px 6px 12px $shadow-dark,
  // -6px -6px 12px $shadow-light;
  // border: .0625rem solid rgba(243,247,250,.05);
  // border-color:  $border-color;

  // background: rgba(13, 11, 41, 0.8);
  // border: 1px solid rgba(255, 255, 255, 0.18);
  // border-radius: 20px;
  // box-shadow: 10px -90px 90px #02011f;
  // background: rgba(195, 138, 221, 0.233) !important;
  // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  // border-radius: 20px;
  // -webkit-backdrop-filter: blur(10.5px);
  // backdrop-filter: blur(10.5px);
  color: white;
  
  cursor: pointer;
  @include desktop-view {
    transition: 0.3s;
    &:hover {
      // box-shadow: 9px 9px 18px #5fa6cc, -9px -9px 18px #ffffff;
      // transform: scale(1.01);
  }
}
  &::before{
  position: absolute;
  top:0;
  left: 0;
}

  @include mobile-view  {
    flex-direction: column;
  }

  .eventCardHeaderBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto 0;
    gap: 8px;
    padding-top: 0.5rem;

    .eventCardType {
      opacity: 0.7;
      letter-spacing: 2px;
      font-size: 1rem;
      text-transform: capitalize;
      margin-top: 15px;
    }

    .eventCardDate {
      opacity: 0.7;
      letter-spacing: 2px;
      font-size: 0.9rem;
    }

    .flipIcon {
      @include mobile-view {
        max-width: 6rem;
        max-height: 6rem;
      }
    }

    
  }



  .eventInfoBox {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20px 0;
    margin-left: 30px;
    line-height: 26px;

    @include desktop-view {
      padding-right: 2rem;
    }

    @include mobile-view {
      text-align: center;
    }

    .eventCardTitle {
      font-size: 35px;
      font-weight: 900;
      // font-family: 'Lemon Milk';
      text-transform: uppercase;
      line-height: 40px;
      font-family: 'Montserrat', sans-serif;
      @include desktop-view {
        // min-width: 8rem;
        
      }
    }

    .eventCardInfo {
      margin: 2rem 0;
      position: relative;
      // max-height: 4.6rem;
      overflow: hidden;
      white-space: pre-line;
      font-size: 23px;
      

    //   &:after {
    //     content: "";
    //     text-align: right;
    //     position: absolute;
    //     bottom: 0;
    //     right: 0;
    //     width: 70%;
    //     height: 1.6rem;
    //     background: linear-gradient(to right, rgba(255, 255, 255, 0), #c2eaff 80%);
    // }
    }
  }
}


@media screen and (max-width:1500px){
	
.eventCardContainer {
  gap: 2rem;
  padding: 2rem 3rem;

  }

  .eventCardHeaderBox {
    gap: 80px;
    padding-top: 0.5rem;

    .eventCardType {
      opacity: 0.7;
      margin-top: 10px;
      letter-spacing: 2px;
      font-size: 1rem;
      text-transform: capitalize;
    }

    .eventCardDate {
      opacity: 0.7;
      letter-spacing: 2px;
      font-size: 0.9rem;
    }

    .flipIcon {
    }

    
  }



  .eventInfoBox {
    .eventCardTitle {
      font-size: 35px !important;
    }

    .eventCardInfo {
      font-size: 23px;
      margin: 1rem 0;
  }
}
}


@media screen and (max-width:580px){
  .eventCardContainer{
    padding: 2rem;
    .eventCardHeaderBox{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      .eventCardType{
        display: none;
      }
    }
    .eventInfoBox {
      margin-top: 5px;
      margin-left: 0;
    
      .eventCardInfo {
        margin-top: 1rem;
        font-size: 18px;
        // max-height: 6.6rem;

      //   &:after {
      //     content: "";
      //     text-align: right;
      //     position: absolute;
      //     bottom: 0;
      //     right: 0;
      //     width: 70%;
      //     height: 1.6rem;
      //     background: linear-gradient(to right, rgba(255, 255, 255, 0), #c2eaff 80%);
      // }
      }
    }
  }
}