@import '../../../sass/variables';
@import '../../../sass/mixins';

.eventCardContainer {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  border-radius: 8px;
  color: black;
  background: #c2eaff;
  box-shadow:  6px 6px 12px #87c6e7,
              -6px -6px 12px #f0faff;

  @include desktop-view {
    transition: 0.3s;
    &:hover {
      box-shadow: 9px 9px 18px #5fa6cc, -9px -9px 18px #ffffff;
      transform: scale(1.01);
    }
  }

  @include mobile-view  {
    flex-direction: column;
  }

  .eventCardHeaderBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto 0;
    gap: 8px;
    padding-top: 0.5rem;

    .eventCardDate {
      opacity: 0.7;
      letter-spacing: 2px;
      font-size: 0.9rem;
    }

    .flipIcon {
      @include mobile-view {
        max-width: 6rem;
        max-height: 6rem;
      }
    }

    .eventCardTitle {
      @include desktop-view {
        min-width: 8rem;
      }
    }
  }

  .eventInfoBox {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    line-height: 26px;

    @include desktop-view {
      padding-right: 2rem;
    }

    @include mobile-view {
      text-align: center;
    }

    .eventCardIInfo {
      margin-bottom: 1rem;
    }
  }
}