@import './variables';

// Fonts

$font-1: 'Roboto', 'Ubuntu', 'Cantarell', sans-serif;
$font-2: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

// Color Palette

$color-white: #f6f5f4;
$color-black: #121212;
$color-blue: #2979ff;

// Rules

body {
  margin: 0;
  background: $color-excel-lighter;
  color: $color-black;
  font-family: $font-1;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $font-2;
}


