$mobile-width: 0px;
$tablet-width: 600px;
$desktop-width: 1024px;

@mixin mobile-view {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet-view {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop-view {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}