// Color palette

$color-title-light: #242424;
$color-title-dark: #f6f5f4;

$background-color-light: #f6f5f4;
$background-color-dark: #242424;

$header-bar-background: #323232;

$color-white: #ffffff;
$color-black: #121212;
$color-blue: #2979ff;
$color-excel-lighter: #c2eaff;
$color-excel: #55b9f3;

// Fonts

$font-1: 'Sego UI', 'Ubuntu', 'Cantarell', sans-serif;
$font-2: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;