// Color palette

$color-white: #f6f5f4;
$color-black: #121212;
$color-blue: #2979ff;

// Fonts

$font-1: 'Roboto', 'Ubuntu', 'Cantarell', sans-serif;
$font-2: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;