// Color palette

$color-title-light: #242424;
$color-title-dark: #f6f5f4;

$background-color-light: #f6f5f4;
$background-color-dark: #242424;

$header-bar-background: #323232;

$color-white: #ffffff;
$color-black: #121212;
$color-blue: #2979ff;
// $color-excel-lighter: #c2eaff;
$color-excel-lighter:#02011f;
$color-excel: #55b9f3;

$bg-color: #c2eaff;  // original color
$shadow-light: #e5f5fd; // lighter than original
$shadow-dark: #99c9e2;  // much darker than original
$border-color: #afd9f0; // darker than original

// $bg-color: #0e1113;
// $shadow-light: #1c2022;
// $shadow-dark:#0f1418;
// $border-color: #0b0f11;

// Fonts
$font-1: 'Montserrat';
$font-2: 'Sego UI', 'Ubuntu', 'Cantarell', sans-serif;
// $font-2: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;