@import '../../../sass/variables';
@import '../../../sass/mixins';

.popup-content-container {
  background: white;
  color: black;

  box-shadow: 5px 5px 15px $shadow-dark, -5px -5px 15px $shadow-light;

  display: flex;
  flex-direction: column;
  border-radius: 12px;
  height: 38rem;


  font-family: $font-1;
  @include mobile-view {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    padding: 0;
  }

  .popup-sidebar {
    background-color: #c2eaff;
    display: flex;
    flex-direction: column;
    min-width: 15rem;
    border-radius: 12px 0px 0 12px;
    box-shadow: 0.5px 0px 6px #4fc1ff;
    z-index: 10;

    @include mobile-view {
      border-radius: 0;
      flex-direction: column;
    }

    .close-container-mobile {
      display: none;
      flex-direction: row-reverse;

      @include mobile-view {
        display: flex;
        margin: 0.5rem;
      }

      .close-button {
        position: fixed;
        width: 2rem;
        height: auto;
      }
    }

    .header-container {
      display: flex;
      flex-direction: column;

      @include mobile-view {
        flex-direction: row;
        justify-content: center;
      }

      .image-title-box {
        display: flex;
        flex-direction: column;

        img {
          padding: 1rem;
          background-color: white;
          border-radius: 9999px;
          margin: 2rem auto 1rem;
          max-width: 6rem;
          border: 1px solid #80d2ff;
          box-shadow:  5px 5px 7px #99c9e2,
          -5px -5px 7px #e5f5fd;
        }

        .name {
          text-align: center;
          font-size: 1.4rem;
          font-weight: 600;
          margin: 0 2rem 0.5rem 2rem;
          overflow-wrap: break-word;
        }
      }

      .event-register {
        display: flex;
        justify-content: center;
      }

      .hidden {
        display: none;
      }
      
      .event-register-button {
        cursor: pointer;
        background-color: #37b9ff;
        color: white;
        margin: 0 2rem;
        margin-top: 1rem;
        padding: 0.5rem 1.5rem;
        font-size: 1.1rem;
        border-radius: 9999px;
        box-shadow: 6px 6px 12px #99c9e2, -6px -6px 12px #e5f5fd;
        border: 0.0625rem solid #0086ce;
        border-color: #afd9f0;
        transition: 200ms ease-in-out;
      }

      .event-register-button:hover {
        background-color: #0fabff;
        transform: scale(1.05);
        color: #fff;
      }

      .reg-prize-box {
        display: flex;
        flex-direction: column;

        @include mobile-view {
          padding-left: 2rem;
          padding-bottom: 1rem;
          justify-content: flex-end;
        }

        .prize-money, .team-size, .date {
          display: flex;
          opacity: 0.8;
          justify-content: center;
          padding: 1px;
        }

        img {
          max-width: 1rem;
          max-height: 1rem;
          margin-top: 3px;
          margin-right: 3px;
        }
      }
    }

    .popup-stack-switcher {
      .popup-nav {
        list-style: none;
        padding: 1rem 2rem;
        text-align: center;
        color: #000000bb;
        font-size: 1.3rem;
        margin-top: 0;

        @include mobile-view {
          display: flex;
          padding: 0.5rem auto;
          margin: auto;
          font-size: 1.2rem;
          justify-content: center;
        }

        li {
          padding: 0.5rem;
          margin: 0.6rem 0.3rem;
          border-radius: 6px;
          border: 1px solid #00000000;

          @include desktop-view {
            cursor: pointer;
            transition: 125ms ease-in-out;

            &:hover:not(.active) {
              border: 1px solid darken($color: #8bd6ff, $amount: 0.01);
              box-shadow: inset 3px 3px 10px #8bd6ff,
                          inset -3px -3px 10px #efffff;
            }
          }

          @include mobile-view {
            font-size: 1rem;
            padding: 0.7rem 0;
            margin: 0.6rem 0.1rem;
            min-width: 8ch;
          }

          &.active {
            border: 1px solid #ffffff4b;
            background-color: #7cd1ff;
            color: black;
            box-shadow:  2px 2px 4px #a0deff,
                        -2px -2px 4px #e0fcff;
          }
        }
      }
    }
  }

  .popup-stack {
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 2rem;
    overflow: hidden;
    overflow-y: auto;
    white-space: pre-line;
    background-color: #fbfbfb;
    border-radius: 0px 12px 12px 0px;

    @include mobile-view {
      font-size: 1.1rem;
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100%;
    }

    @include desktop-view {
      min-width: 30rem;
      width: calc(100vw - 50rem);
    }

    @include tablet-view {
      min-width: 30rem;
      width: calc(100vw - 50rem);
    }

    .close-container {
      display: flex;
      flex-direction: row-reverse;

      @include mobile-view {
        display: none;
      }

      .close-button {
        position: fixed;
        width: 1.3rem;
        height: auto;
        cursor: pointer;

        transition: 100ms ease-in-out;

        &:hover {
          transform: scale(1.1);
          fill: red;
        }
      }
    }

    .section {
      margin: 2rem;

      @include mobile-view {
        margin: 0;
        padding: 1.5rem;
        width: 100vw;
        box-sizing: border-box;
      }
    }

    .contact-section {
      div {
        display: flex;
        flex-direction: column;
        margin: 1.5rem 0;

        .name {
          font-size: 1.3rem;
          font-weight: 600;
        }

        .email {
          color: black;
          font-style: italic;
        }

        .phone {
          font-style: italic;
        }
      }
    }
  }
}
