@import "../../../sass/variables";
@import "../../../sass/mixins";

.competition-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // .competition-popup-content{
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     position: fixed !important;
    // }
    // [role='tooltip'].competition-popup-content {
    //     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    //     background: rgba(217, 177, 250, 0.233);
    //     backdrop-filter: blur(10.5px);
    //     -webkit-backdrop-filter: blur(10.5px);
    //     border-radius: 6px;
    //   }
}
.competition-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    // color: $color-black;

    height: 350px;
    width: 350px;
    // border-radius: 0.55rem;
    // background: $bg-color;
    // box-shadow:  6px 6px 12px $shadow-dark,
    //             -6px -6px 12px $shadow-light;

    // border: .0625rem solid rgba(243,247,250,.05);
    // border-color:  $border-color;
    // background: rgba(195, 138, 221, 0.233) !important;
    // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    // border-radius: 20px;
    // -webkit-backdrop-filter: blur(10.5px);
    // backdrop-filter: blur(10.5px);
    // background: rgba(13, 11, 41, 0.8);
    // border: 1px solid rgba(255, 255, 255, 0.18);
    // border-radius: 20px;
    // box-shadow: 10px -90px 90px #02011f;
    color: white;

    @include desktop-view {
        transition: 0.3s;

        &:hover {
            // box-shadow:  6px 6px 12px #5fa6cc,
            //             -6px -6px 12px #ffffff;
            transform: scale(1.02);
        }
    }

    .icon {
        // background-color: $color-white;
        border-radius: 9999px;
        margin: 1rem;
        margin-top: 2rem;
        padding: 2em;
        padding-bottom: 0.5rem;
        // box-shadow:  5px 5px 7px $shadow-dark,
        //             -5px -5px 7px $shadow-light;

        img {
            max-width: 8.5rem;
            max-height: 8.5rem;

            @include mobile-view {
                max-width: 4rem;
                max-height: 4rem;
            }
        }
    }

    .title {
        margin: 1rem 0;

        span {
            // color: $color-black;
            font-weight: bold;
            // font-variant-caps: petite-caps;
            font-size: 1.5rem;
        }
    }

    .category {
        text-transform: capitalize;
        // color: rgb(58, 56, 56);
    }
    .description {
        // Dirty hack below because css still doesnt support multiline text ellipsize

        margin: 1rem;
        // height: 12rem;
        // width: 250px;
        position: relative;
        // height: 10.8rem;
        // overflow: hidden;
        white-space: pre-line;

        // &:after {
        //     content: "";
        //     text-align: right;
        //     position: absolute;
        //     bottom: 0;
        //     right: 0;
        //     width: 70%;
        //     height: 1.6rem;
        //     background: linear-gradient(to right, rgba(255, 255, 255, 0), #c2eaff 80%);
        // }
    }
}

.competition-card:hover {
    cursor: pointer;
}
@keyframes anvil {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    1% {
        transform: scale(0.96) translateY(10px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
        box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}

.popup-content {
    animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

// Media queries

@media screen and (max-width:1870px){
	.competition-card {
        width: 320px;
        height: 320px;
        .icon {
            padding-bottom: 0.5rem;
            img {
                max-width: 7.5rem;
            }
        }
        .title {
            margin: 1rem 0;
            span {
                font-size: 1.4rem;
            }
        }
    
        .category {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width:1700px){
	.competition-card {
        width: 300px;
        height: 300px;
        .icon {
            padding-bottom: 0rem;
            img {
                max-width: 5rem;
                max-height: 5rem;
            }
        }
        .title {
            margin: 1rem 0;
            margin-bottom: 1.25rem;
            span {
                font-size: 1.3rem;
            }
        }
    
        .category {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width:1550px){
	.competition-card {
        width: 250px;
        height: 250px;
        .icon {
            padding-bottom: 0rem;
            img {
                max-width: 4.4rem;
                max-height: 4.4rem;
            }
        }
        .title {
            margin: 0.2rem 0;
            // margin-bottom: 1rem;
            span {
                font-size: 1.3rem;
            }
        }
    }
}

// @media screen and (max-width:1350px){
// 	.competition-card {
//         width: 310px;
//         height: 310px;
//         // .icon {
//         //     img {
//         //         max-width: 4.5rem;
//         //     }
//         // }
//         .title {
//             margin: 0.5rem 0;
//             span {
//                 font-size: 1.5rem;
//             }
//         }
//     }
// }

@media screen and (max-width:1290px){
	.competition-card {
        width: 230px;
        height: 230px;
        .icon {
            padding: 1rem;
            padding-bottom: 0rem;
            img {
                max-width: 4.2rem;
                max-height: 4.2rem;
            }
        }
        .title {
            margin: 0.1rem 0;
            span {
                font-size: 1.2rem;
            }
            
        }
        .category {
            font-size: 0.9rem;
        }
    }
}

// @media screen and (max-width:1048px){
// 	.competition-card {
//         width: 300px;
//         height: 300px;
//         .icon {
//             img {
//                 max-width: 4rem;
//             }
//         }
//         .title {
//             margin: 0.5rem 0;
//             span {
//                 font-size: 1.4  rem;
//             }
//         }
//     }
// }

// @media screen and (max-width:950px){
// 	.competition-card {
//         width: 300px;
//         height: 300px;
//         .icon {
//             img {
//                 max-width: 5rem;
//             }
//         }
//         .title {
//             margin: 0.5rem 0;
//             span {
//                 font-size: 1.4rem;
//             }
//         }
//     }
// }

@media screen and (max-width:870px){
    .competition-card-container{
        width: 220px;
    }
    .competition-card {
        width: 220px;
        height: 220px;
        .icon {
            padding: 0.2rem;
            img {
                max-width: 4rem;
            }
        }
        .title {
            margin: 0;
            margin-bottom: 0.5rem;
            span {
                font-size: 1.2rem;
            }
        }
    }
}

/*ipad potrait*/
@media screen and (max-width:800px) and (max-height: 1300px ){
    .competition-card-container{
        width: 250px;
    }
    .competition-card {
        width: 250px;
        height: 250px;
        .icon {
            padding: 1rem;
            img {
                max-width: 6rem;
            }
        }
        .title {
            margin: 0;
            margin-bottom: 0.5rem;
            margin-top: -35px;
            span {
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (max-width:720px) and (max-height: 1300px ){
    .competition-card-container{
        width: 230px;
    }
    .competition-card {
        width: 230px;
        height: 230px;
        .icon {
            padding: 1rem;
            margin: 1rem;
            margin-bottom: 0;
            padding-bottom: 0rem;
            img {
                max-width: 6rem;
            }
        }
        .title {
            margin: 0.3rem 0;
            // margin-bottom: 0.5rem;
            span {
                font-size: 1.2rem;
            }
        }
        .category {
            font-size: 0.9rem;
        }
    }
}

@media screen and (max-width:480px){
    .competition-card-container{
        width: 180px;
    }
	.competition-card {
        width: 180px;
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .icon {
            padding: 0rem;
            padding-bottom: 0rem;
            margin-bottom: 0rem;
            img {
                max-width: 5.5rem;
            }
        }
        .title {
            margin: 0.1rem 0;
            margin-top: -10px;
            position: relative;
            top: 0;
            span {
                font-size: 0.95rem;
            }
        }
        .category {
            font-size: 0.75rem;
            padding-bottom: 10px;
        }
    }
}

@media screen and (max-width:400px){
    .competition-card-container{
        width: 158px;
    }
	.competition-card {
        width: 158px;
        height: 160px;
        .icon {
            margin-top: 20px;
            img {
                max-width: 4.5rem;
            }
        }
        .title {
            margin: 1rem 0 0.25rem 0;
            display: flex;
            span {
                font-size: 0.95rem;
            }
        }
        .category {
            font-size: 0.75rem;
        }
    }
}