@import "../../../sass/variables";
@import "../../../sass/mixins";

.competition-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: black;

    border-radius: 6px;
    background: #c2eaff;
    box-shadow:  6px 6px 12px #99c9e2,
                -6px -6px 12px #e5f5fd;

    @include desktop-view {
        transition: 0.3s;

        &:hover {
            box-shadow:  6px 6px 12px #5fa6cc,
                        -6px -6px 12px #ffffff;
        }
    }

    .icon {
        background-color: $color-white;
        border-radius: 9999px;
        margin: 1rem;
        margin-top: 1.5rem;
        padding: 2em;

        box-shadow:  5px 5px 7px #99c9e2,
                    -5px -5px 7px #e5f5fd;

        img {
            max-width: 6rem;
            max-height: 6rem;

            @include mobile-view {
                max-width: 4rem;
                max-height: 4rem;
            }
        }
    }

    .title {
        margin-bottom: 1rem;

        span {
            color: black;
            font-weight: 600;
            font-size: 1.3rem;
        }
    }

    .description {
        // Dirty hack below because css still doesnt support multiline text ellipsize

        margin: 1rem;
        height: 12rem;
        width: 250px;
        position: relative;
        height: 10.8rem;
        overflow: hidden;
        white-space: pre-line;

        &:after {
            content: "";
            text-align: right;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 70%;
            height: 1.6rem;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), #c2eaff 80%);
        }
    }
}

@keyframes anvil {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    1% {
        transform: scale(0.96) translateY(10px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
        box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}

.popup-content {
    animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}