@import '../../sass/variables';
@import '../../sass/mixins';

.flipIconbg {
  // background-color: white;
  // border-radius: 100%;
  // box-shadow: 5px 5px 7px $shadow-dark, -5px -5px 7px $shadow-light;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile-view {
    padding: 10px;
  }
}

.flipIcon {
  // background-color: white;
  // border-radius: 50%;
  
  // padding: 20px;

  max-width: 6rem;
  max-height: 6rem;

  @include mobile-view {
    max-width: 4rem;
    max-height: 4rem;
  }
}
