@import '../../sass/variables';
@import '../../sass/mixins';

.home-register{
  display: none;
  gap: 2rem;
  padding: 2rem;
  width: fit-content;
  margin: 50px auto;
  font-size: larger;
  font-weight: bolder;
  text-transform: uppercase;
  border-radius: 8px;
  color: black;
  background: #c2eaff;
  box-shadow:  6px 6px 12px #87c6e7,
              -6px -6px 12px #f0faff;

  @include desktop-view {
    transition: 0.3s;
    &:hover {
      box-shadow: 9px 9px 18px #5fa6cc, -9px -9px 18px #ffffff;
      transform: scale(1.01);
    }
  }

}
.home-body{
    height: 217vh;
}
.home-sponsers{
    display: none;
    padding: 40px;
    .sponsers-grid{
        display: grid;
        grid-template-columns: repeat(4,minmax(0, 1fr));
        justify-content: center;
        align-items: center;
        align-content: center;
        grid-gap:70px;
        .sponser-container{
            display: flex;
            flex-wrap: wrap;
            padding: 40px;
            align-content: space-between;
            justify-content: center;
            align-items: center;
            height: min-content;
            background: #c2eaff;
  box-shadow:  6px 6px 12px #87c6e7,
              -6px -6px 12px #f0faff;
            img{
                width: 250px;
            }
            h1{
                font-size: 20px;
            }
            @include desktop-view {
                transition: 0.3s;
                &:hover {
                  box-shadow: 9px 9px 18px #5fa6cc, -9px -9px 18px #ffffff;
                  transform: scale(1.01);
                }
              }
        }
    }
}
.home-legacy{
    position: absolute;
    left: 8%;
    // transform: translateX(-50%);
    top: 120%;
    width: 85%;
    padding: 40px;
    // background: rgba( 13, 11, 41, 0.80 );
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    // backdrop-filter: blur( 10.5px );
    // -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 20px;
    color: white;
    box-shadow: 10px -90px 90px #02011f;
    .legacy-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            width: 30%;
        }
        p{
            width: 67%;
        }
    }
    .college-excel-logo{
        margin: 0  auto;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        img{
            width: 250px;
            margin: 40px;
        }
    }
    .previous-sites{
        margin: 0  auto;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        img{
            width: 70px;
            margin: 10px;
        }
        .excel-2018{
            width: 50px;
        }
    }
}