@import '../../../sass/variables';
@import '../../../sass/mixins';

.eventsContainer {
  display: grid;
  gap: 2rem;
  max-width: 85%;
  // min-width: 280px;
  margin: 20px auto;
  padding: 2rem;
  padding-bottom: 100px;
}
