.smallSidebarContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 100vh;
  /* padding: 20px; */
  background-color:#c2eaff;
  box-shadow: 0 1px 10px rgba(0,0,0,.12),0 1px 5px rgba(0,0,0,.24);
}

.smallSidebarInnerContainer {
  color: rgb(98, 95, 95);
  display: flex;
  flex-direction: column;
  /* padding-top: 48px; */
  /* height: 50%; */
  justify-content: space-between;
  width: 100%;
}

.smallSidebarLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  padding: 25px 0;
}

.smallSidebarLink:hover {
  background-color: #b2dff8;
  transition: 0.3s ease-in;
}

.smallSidebarIcon {
	height: 20px;
	width: 20px;
  cursor: pointer;
  padding-bottom: 13px;
}

.linkText {
  font-size: 14px;
  color: black;
}


@media screen and (max-width:1700px){
	.smallSidebarContainer {
    width: 95px;
  }
  .linkText {
    font-size: 13px;
  }
}

@media screen and (max-width:1400px){
  .smallSidebarContainer {
    width: 90px;
  }
  .linkText {
    font-size: 12.5px;
  }
}

@media screen and (max-width:1350px){
	/* .smallSidebarContainer {
    width: 95px;
  }
  .linkText {
    font-size: 13px;
  } */
}

@media screen and (max-width:1200px){
	.smallSidebarContainer {
    width: 85px;
  }
  .linkText {
    font-size: 12px;
  }
}

@media screen and (max-width:1048px){
	.smallSidebarContainer {
    width: 80px;
  }
  .linkText {
    font-size: 11.5px;
  }
}