.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%;
  padding: 20px;
  background-color: brown;
}
.navbar-endContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
