@import '../../sass/variables';
@import '../../sass/mixins';

.scheduleCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  padding: 0.5rem 0;
  margin: 20px 0;
  // background: linear-gradient(145deg, #5bc6ff, #4da7db);
  // box-shadow: 5px 5px 15px #224a61, -5px -5px 15px #88ffff;
  // box-shadow:  6px 6px 12px $shadow-dark,-6px -6px 12px $shadow-light !important; // much darker than original then lighter than original
  // border: .0625rem solid rgba(243,247,250,.05);
  // border-color: $border-color !important;  // darker than original
  // border-radius: 0.55rem;
  // background-color: $bg-color !important; // original color

  // color: $color-title-dark;
  // color: $color-black;
  // background: rgba(13, 11, 41, 0.8);
  // border: 1px solid rgba(255, 255, 255, 0.18);
  // border-radius: 20px;
  // box-shadow: 10px -90px 90px #02011f;
  // background: rgba(195, 138, 221, 0.233) !important;
  // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  // border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  background: rgba(217, 177, 250, 0.233);
  -webkit-backdrop-filter: blur(10.5px);
  backdrop-filter: blur(10.5px);
  color: white;

  @include desktop-view {
    transition: 0.3s;
    &:hover {
      // box-shadow: 9px 9px 18px #224a61, -9px -9px 18px #88ffff;
    }
  }
}
/* no support backdrop-filter */
@supports  not ( (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px)) )  {
  .scheduleCardContainer {
    background: rgba(189, 185, 243, 0.281);
    box-shadow: 0 5px 20px 0 rgba(4, 6, 44, 0.568);
    // background: rgba(195,138,221,0.233);
    // box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
  }
}
.scheduleCardTime {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.scheduleContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 12rem;
  @include mobile-view{
    min-width: 7.5rem;
  }
}
.scheduleCardTitle {
  // color: $color-title-dark;
  color: white;
  font-variant-caps: petite-caps;
  font-size: 1.4rem;
  font-weight: 700;
  // max-width: 9rem;
  white-space: nowrap;
}

.scheduleCardEventType {
  margin-top: 8px;
  text-transform: capitalize;
  font-variant-caps: petite-caps;
  font-size: 1.1rem;
}

.scheduleCardDay {
  font-size: 20px;
}

.scheduleflipIconbg {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  // box-shadow: 5px 5px 7px $shadow-dark, -5px -5px 7px $shadow-light;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 7rem;
  // margin: auto;
  @include mobile-view {
    height: 3rem;
    width: 3rem;
  }
}

.scheduleflipIcon {
  // background-color: white;
  // border-radius: 50%;

  // padding: 20px;

  max-width: 6rem;
  max-height: 6rem;

  @include mobile-view {
    max-width: 3rem;
    max-height: 3rem;
  }
}

@media only screen and (max-width: 980px) {
  .scheduleCardContainer {
    margin: 12px 0;
  }
  .scheduleCardTime {
    font-size: 0.8rem;
  }

  .scheduleCardTitle {
    // color: $color-title-dark;
    // color: $color-black;
    font-variant-caps: petite-caps;
    font-size: 1rem;
  }

  .scheduleCardEventType {
    text-transform: capitalize;
    font-variant-caps: petite-caps;
    
    @include mobile-view {
      font-size: 13px;
      max-width: 8rem;
      overflow: hidden;
    }
  }

  .scheduleCardDay {
    font-size: 20px;
  }
}
