@import '../../sass/variables';
@import '../../sass/mixins';


.schedule {
  // background-color: $bg-color;
  padding-bottom: 3rem;
}
.scheduleContainer {
  max-width: 75%;
  min-width: 280px;
  margin: 0 auto;
}
.scheduleFilter {
  color: white;
  display: flex;
  pointer-events: none;
}
.scheduleFilterSensitive {
  display: flex;
  align-items: center;
  padding: 12px 6px;
  font-weight: bold;
  cursor: pointer;
  pointer-events: initial;
}
.scheduleFilterInsensitive {
  display: flex;
  flex-grow: 1;
  cursor: default;
}
.scheduleDayContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  // background-color: $background-color-light;
  // background-color: transparent;  
  background: rgba(13, 11, 41, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  box-shadow: 10px -90px 90px #02011f;

  div {
    // font-variant-caps: petite-caps;
    text-transform: uppercase;
    font-weight: 700;
    // margin: 0 10px;
  }
}
.scheduleDay {
  display: flex;
  color: white;
  flex-grow: 1;
  // opacity: 0.75;
  align-items: center;
  justify-content: center;
  padding: 16px 0px;
  cursor: pointer;
  // background-color: $bg-color;
  border-color: $border-color !important;
  // box-shadow: 6px 6px 12px $shadow-dark, -6px -6px 12px $shadow-light !important;
  // border: 0.0625rem solid rgba(243, 247, 250, 0.05);
  border-radius: 6px;
  transition: all .2s ease;

}
.scheduleDay:hover {
  opacity: 1;
  transition-duration: 0.7s;
  background-color: rgb(196, 194, 194);
  color: black;
  border-radius: 6px;
}
.scheduleSelectedDay {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  // background: linear-gradient(145deg, #5bc6ff, #4da7db);
  // background-color: $bg-color;
  // border-color: $border-color;
  background-color: white;
  // border: .0625rem solid rgba(243,247,250,.05);
  // box-shadow: inset 2px 2px 5px $shadow-dark, inset -3px -3px 7px $shadow-light;
  -webkit-box-shadow: 0px 0px 14px 4px rgba(255,255,255,0.69);
  -moz-box-shadow: 0px 0px 14px 4px rgba(255,255,255,0.69);
  box-shadow: 0px 0px 14px 4px rgba(255,255,255,0.69);
  // font-weight: bold;
  font-size: 1.1rem;
  border-radius: 6px;
  cursor: default;
}

@media only screen and (max-width:980px) {
  .scheduleContainer {
    max-width: 90% ;
  }
  .scheduleDayContainer{
    div {
      font-variant-caps: petite-caps;
      // margin: 0 5px;
    }
  }
}