@import '../../sass/variables';
@import '../../sass/mixins';

.scheduleCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 6px;
  padding: 24px 0;
  margin: 24px 0;
  // background: linear-gradient(145deg, #5bc6ff, #4da7db);
  // box-shadow: 5px 5px 15px #224a61, -5px -5px 15px #88ffff;
  box-shadow:  6px 6px 12px $shadow-dark,-6px -6px 12px $shadow-light !important; // much darker than original then lighter than original
  border: .0625rem solid rgba(243,247,250,.05);
  border-color: $border-color !important;  // darker than original
  border-radius: 0.55rem;
  background-color: $bg-color !important; // original color

  // color: $color-title-dark;
  color: $color-black;

  @include desktop-view {
    transition: 0.3s;
    &:hover {
      box-shadow: 9px 9px 18px #224a61, -9px -9px 18px #88ffff;
    }
  }
}

.scheduleCardTime {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.scheduleCardTitle {
  // color: $color-title-dark;
  color: $color-black;
  font-variant-caps: petite-caps;
  font-size: 1.4rem;
}

.scheduleCardEventType {
  text-transform: capitalize;
  font-variant-caps: petite-caps;
  font-size: 1.2rem;
}

.scheduleCardDay {
  font-size: 20px;
}

.flipIcon {
  // background-color: transparent;
  // box-shadow: none;
}

@media only screen and (max-width:980px) {
  
.scheduleCardTime {
  font-size: 0.75rem;
}

.scheduleCardTitle {
  // color: $color-title-dark;
  color: $color-black;
  font-variant-caps: petite-caps;
  font-size: 0.75rem;
}

.scheduleCardEventType {
  text-transform: capitalize;
  font-variant-caps: petite-caps;
  font-size: 0.7rem;
}

.scheduleCardDay {
  font-size: 20px;
}

.flipIcon {
  max-width: 3rem;
}
}