.schedulePopupContainer {
  background: white;
  box-shadow: 5px 5px 15px #004e7a, -5px -5px 15px #002442;
  border-radius: 12px;
  padding: 24px;
}
.schedulePopupTitle {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 4px;
}
.schedulePopupOptionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.schedulePopupOption {
  padding: 2px;
}
