@import './sass/mixins.scss';

.app-container {
  height: 100vh;
  width: 100%;
  font-family: 'Montserrat';

  .mobile-profile-icon {
    display: none;

    @include mobile-view {
      display: block;
      position: fixed;
      top: 1rem;
      right: 1rem;

      .navbarProfile {
        padding: 0;
      }
    }
  }
}

.nav-shift {
  margin-left: 110px;

  @include mobile-view {
    margin-left: 0px;
  }
}